<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.oguzb.hnreader"
    android:versionCode="2"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="HNApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Hntheme" >
        
        <!-- Home Activity -->
        <activity
            android:name="me.oguzb.hnreader.news.NewsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Reader WebView -->
        <activity
            android:name="me.oguzb.hnreader.reader.ReaderWebView"
            android:label="@string/activity_title_reader"
            android:theme="@style/Theme.Hntheme.Overlay"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="screenSize|orientation"
			android:parentActivityName="me.oguzb.hnreader.news.NewsActivity" >
            <intent-filter>
            </intent-filter>

			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="me.oguzb.hnreader.news.NewsActivity" />
        </activity>
        
         <!-- Comments -->
        <activity
            android:name="me.oguzb.hnreader.comments.CommentsActivity"
            android:label="@string/activity_title_comments"
            android:theme="@style/Theme.Hntheme"
            android:configChanges="screenSize|orientation"
			android:parentActivityName="me.oguzb.hnreader.news.NewsActivity">
            <intent-filter>
            </intent-filter>

			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="me.oguzb.hnreader.news.NewsActivity" />
        </activity>

        <!-- Settings -->
        <activity
                android:name="me.oguzb.hnreader.settings.SettingsActivity"
                android:label="@string/activity_title_settings"
                android:theme="@style/Theme.Hntheme"
                android:configChanges="screenSize|orientation">
            <intent-filter>
            </intent-filter>
        </activity>
        
    </application>

</manifest>
